@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /*1rem = 10px*/
}

body{
    background-color: #E7E7E7;
}

.whiteBox{
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.4rem 0 #00000050;
    background-color: #f9f9f9;
    font-family: Lato;
}

.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    justify-content: center;
}